@model Fiap.Exemplo01.MVC.Web.Models.Cliente
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Cliente</h2>


@using (Html.BeginForm())

{

    <div class="form-group">
        @Html.LabelFor(c => c.nome)
        @Html.TextBoxFor(c => c.nome, new { placeholder = "Digite seu nome", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.idade)
        @Html.TextBoxFor(c => c.idade, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.credito)
        @Html.TextBoxFor(c => c.credito, new { @class = "form-control" })
    </div>
    <div class="checkbox">
        @Html.LabelFor(c => c.NecessidadesEspeciais)
        @Html.CheckBoxFor(c => c.NecessidadesEspeciais)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Nascimento)
        @Html.TextBoxFor(c => c.Nascimento, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.EstadoCivil)
        @Html.DropDownListFor(c => c.EstadoCivil, ViewBag.Estados as SelectList, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" value="salvar" class="btn btn-primary" />
    </div>


    if (TempData["msg"] != null)
    {
        <div class="alert-success">
            @TempData["msg"]
        </div>
    }


}